<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}base{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <!-- css加载 -->
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.css" %}>
        <link rel="stylesheet" href={% static "bootstrap/css/AdminLTE.min.css" %}>
        <link rel="stylesheet" href={% static "bootstrap/css/skins/_all-skins.min.css" %}>
        <link rel="stylesheet" href={% static "bootstrap/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "bootstrap/css/ionicons.min.css" %}>
        <link rel="stylesheet" href={% static "bootstrap/css/jquery-jvectormap.css" %}>
        {% block css %}{% endblock %}

      <!-- 谷歌字体 -->
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <header class="main-header">
        <!-- 顶部左侧Logo -->
        <a href="/login/" class="logo">
          <span class="logo-lg"><b>运维欢迎你</b></span>
        </a>

        <!--顶部栏-->
        <nav class="navbar navbar-static-top">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>

        <!--顶部右侧-->
        <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!--邮箱标签-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
            <!--通知标签-->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!--红旗标记标签-->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!--用户信息-->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src={% static "img/user2-160x160.jpg" %} class="user-image" alt="User Image">
              <span class="hidden-xs">
                  {% if request.session.is_login %}
                    {{ request.session.username }}
                  {% endif %}
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src={% static "img/user2-160x160.jpg" %} class="img-circle" alt="User Image">
                <p>
                {% if request.session.is_login %}
                    当前用户: {{ request.session.username }}
                {% endif %}
                </p>
              </li>
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/userinfo/" class="btn btn-default btn-flat">信息</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">注销</a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
          </div>

        </nav>
      </header>

    <!-- 左侧框架-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static "img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{% if request.session.is_login %}
              {{ request.session.username }}
                {% endif %}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
        <!--左侧搜索框-->
        <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
        <!-- 左侧菜单栏目-->
        <ul class="sidebar-menu" data-widget="tree">
        <li id="index" class="active">
            <a href="/index/">
                <i class="fa fa-dashboard"></i>
                <span>仪表盘</span>
                <span class="label label-info pull-right"></span>
            </a>
        </li>
        <li id="monitor" class="treeview menu-open">
          <a href="#">
            <i class="fa fa-pie-chart"></i> <span>监控中心</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>服务器监控</a></li>
            <li ><a href="#"><i class="fa fa-circle-o"></i>Es监控</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Mysql监控</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>Zookeeper监控</a></li>
          </ul>
        </li>
        <li id="assets" class="treeview menu-open">
          <a href="#">
            <i class="fa fa-inbox"></i> <span>资产管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
            <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>资产列表</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>带批准入库</a></li>
          </ul>
        </li>
         <li id="users" class="treeview menu-open">
          <a href="#">
            <i class="fa fa-group"></i><span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/create/"><i class="fa fa-circle-o"></i>创建用户</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>用户列表</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>用户组</a></li>
          </ul>
        </li>
        <li id="ops" class="treeview menu-open">
            <a href="#">
                <i class="fa fa-coffee"></i>
                <span>任务中心</span>
                <span class="pull-right-container"></span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li id="task"><a href="#"><i class="fa fa-circle-o"></i>任务列表</a> </li>
                <li id="command-execution"><a href="#"><i class="fa fa-circle-o"></i>命令执行</a> </li>
            </ul>
        </li>
        </ul>
        </section>
    </aside>
    <!-- 中间内容框架-->
    <div class="content-wrapper">
        <section class="content-header">
        </section>
        <!-- 中部内容顶部-->
        </section class="content">
        {% block content %}
        {% endblock %}
        <div class="row">

        </div>
        </section>
    </div>
    <!--底部标签栏-->
     <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
        reserved.
      </footer>
    <!--顶部右侧设置查看-->
     <aside class="control-sidebar control-sidebar-dark">
         <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>

         <div class="tab-content">
             <div class="tab-pane" id="control-sidebar-home-tab">
             <h3 class="control-sidebar-heading">Recent Activity</h3>
             <ul class="control-sidebar-menu">
               <li>
                 <a href="javascript:void(0)">
                   <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                   <div class="menu-info">
                     <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                     <p>nora@example.com</p>
                   </div>
                 </a>
               </li>
             </ul>
             <h3 class="control-sidebar-heading">Tasks Progress</h3>
             <ul class="control-sidebar-menu">
               <li>
                 <a href="javascript:void(0)">
                   <h4 class="control-sidebar-subheading">
                     Custom Template Design
                     <span class="label label-danger pull-right">70%</span>
                   </h4>
                   <div class="progress progress-xxs">
                     <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                   </div>
                 </a>
               </li>
             </ul>
           </div>
        <!--顶部右侧弹框右侧-->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>

                <p>
                  Some
                </p>
              </div>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div>
            </form>
      </div>
    </div>
     </aside>
    </div>

        <!-- 引用js-->
        <script src={% static "bootstrap/js/jquery.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "bootstrap/js/adminlte.min.js" %}></script>
        <script src={% static "bootstrap/js/chart.js/Chart.js" %}></script>
        <script src={% static "bootstrap/js/fastclick.js" %}></script>
        <script src={% static "bootstrap/js/jquery.sparkline.min.js" %}></script>
        <script src={% static "bootstrap/js/jquery-jvectormap-1.2.2.min.js" %}></script>
        <script src={% static "bootstrap/js/jquery-jvectormap-world-mill-en.js" %}></script>
        <script src={% static "bootstrap/js/jquery.slimscroll.min.js" %}></script>
        <script src={% static "bootstrap/js/dashboard2.js" %}></script>
        <script src={% static "bootstrap/js/demo.js" %}></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>